---

user: melihovv
password: $6$kgX6rY4/$EOL3Q50Yt8DbriTsqNZpWGVCSSibUVJIaS1BnCadVknfN8.1XXr1MCdkvEbnfS6x7xfYYSghbH7uS.JIXzIy./
public_key: ~/.ssh/id_rsa.pub

timezone: 'Europe/Moscow'

swapfile_size: 1GB

nodejs_npm_global_packages:
  - name: yarn

domain: example.com
