---

user: melihovv
password: $6$kgX6rY4/$EOL3Q50Yt8DbriTsqNZpWGVCSSibUVJIaS1BnCadVknfN8.1XXr1MCdkvEbnfS6x7xfYYSghbH7uS.JIXzIy./
public_key: ~/.ssh/id_rsa.pub
email: example@example.com

timezone: 'Europe/Moscow'

swapfile_size: 1GB

nodejs_npm_global_packages:
  - name: yarn

domain: example.com

mysql_user_name: root
mysql_user_password: root

# The default root user installed by mysql - almost always root
mysql_root_username: root
mysql_root_password: root

# Databases.
mysql_databases: []
#   - name: example
#     collation: utf8_general_ci
#     encoding: utf8
#     replicate: 1

# Users.
mysql_users: []
#   - name: example
#     host: 127.0.0.1
#     password: secret
#     priv: *.*:USAGE
