server {
    listen 80 deferred;
    server_name {{ domain }};
    return 301 https://{{ domain }}$request_uri;
}

server {
      listen 443 deferred ssl;

      root /var/www/html;
      server_name {{ domain }};
      index index.php;

      access_log /var/log/nginx/{{ domain }}.log;
      error_log  /var/log/nginx/{{ domain }}-error.log error;

      charset utf-8;

      include h5bp/basic.conf;

      ssl_certificate           /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
      ssl_trusted_certificate   /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
      ssl_certificate_key       /etc/letsencrypt/live/{{ domain }}/privkey.pem;
      include h5bp/directive-only/ssl.conf;

      location / {
          try_files $uri $uri/ /index.php$is_args$args;
      }

      location ~ \.php$ {
          fastcgi_split_path_info ^(.+\.php)(/.+)$;
          fastcgi_pass 127.0.0.1:9000;
          fastcgi_index index.php;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          include fastcgi_params;
      }
}
